<footer>
    <div class="copyright">
        Heta — lacinskaja viersija aficyjnych pravilaŭ bielaruskaha pravapisu zhodna z zakonam №420-3 «Ab Pravilach bielaruskaj arfahrafii i punktuacyi» ad 23 lipienia 2008 h.
    </div>
    <div class="disclaimer">
        Raspracoŭka sajtu: <a href="https://klimchuk.com/" target="_blank">I.Klimčuk</a>, lacinkavaja viersija: <a href="https://seveleu.com/" target="_blank">M.Dubroŭnik</a>. Чытаць гэтую старонку  <a href="https://pravilna.by{{ strings.TrimPrefix "https://pravilna.seveleu.com" .Permalink }}" target="_blank">кіріліцай</a>.

    </div>
</footer>
