<footer>
    <div class="copyright">
      Афіцыйныя (23.08.2008) правілы беларускае арфаграфіі, аднастайным чынам распаўсюджаныя на лацінскі алфавіт «abcćčdefhijklĺmnńoprsśštuŭvyzžź», які задаецца <a href="https://be.wikipedia.org/wiki/%D0%86%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D1%8B%D1%8F_%D0%BF%D0%B0_%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BB%D1%96%D1%82%D0%B0%D1%80%D0%B0%D1%86%D1%8B%D1%96" target="_blank">дзяржаўным стандартам Рэспублікі Беларусь</a> (23.11.2000) і <a href="https://unstats.un.org/unsd/geoinfo/UNGEGN/docs/9th-uncsgn-docs/crp/9th_UNCSGN_e-conf-98-crp-21.pdf" target="_blank">рэкамендацыямі ААН</a> (10.07.2007).<br>
        Heta — lacinskaja viersija aficyjnych pravilaŭ bielaruskaha pravapisu zhodna z zakonam №420-3 «Ab Pravilach bielaruskaj arfahrafii i punktuacyi» ad 23 lipienia 2008 h.
    </div>
    <div class="disclaimer">
        Raspracoŭka sajtu: <a href="https://klimchuk.com/" target="_blank">I.Klimčuk</a>, lacinkavaja viersija: <a href="https://seveleu.com/" target="_blank">M.Dubroŭnik</a>. Чытаць гэтую старонку  <a href="https://pravilna.by{{ strings.TrimPrefix "https://pravilna.seveleu.com" .Permalink }}" target="_blank">кіріліцай</a>.

    </div>
</footer>
